* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.spacing-bottom {
    text-align: center;
    display: block;
    position: static;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 0;
    font-size: 8em;
    font-weight: 1000;
}

h1,h2,h3,h4,h5,p {
    color: #f1faee;
}

a {
    color: #f1faee;
    text-decoration: none;
}

li, ul {
  padding: 0;
  margin: 0;
}

div {
    margin: 0;
}

img {
    width: 80%;
}

#menu {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 999;
    text-decoration: none;
}

#menu li {
    padding: 3px;
    font-weight: 500;
    margin-right: 20px;
    display: inline;
}

#menu li.active {
    border-bottom: 2px solid #f1faee;
}
