.section-one {
    background-color: #f25f5c;
}

.section-two {
    background-color: #247ba0;
}

.section-three {
    background-color: #ffdb4f;
}

.section-three h1 {
    font-size: 60px;
}

.section-three .container {
    vertical-align: top;
    padding: 0 3em;
    width: 50%;
    text-align: left;
    display: inline-block;
}

.section-three li {
    display: inline-block;
    margin: 1.25em .3em;
}

.section-three-button {
    padding: .93em 1.87em;
    background: #fff;
    border-radius: 5px;
    display: block;
    color: #ff5f45;
}

.section-four {
    background-color: #50514f;
}
