.section-one {
    background-color: #f25f5c;
}

.section-one p {
    font-size: 1.3em;
}

.section-two {
    background-color: #247ba0;
}

.section-two h1 {
    padding: 0;
    font-size: 7em;
    margin: 0 0 .25em;
    font-weight: 700;
}

.section-two p {
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5em;
}

.section-three {
    background-color: #ffdb4f;
}

.section-three h1 {
    font-size: 7em;
}

.section-three h2 {
    margin-bottom: 40px;
}

.section-three-button {
    padding: .93em 1.87em;
    background: #fff;
    border-radius: 5px;
    color: #ff5f45;
    margin-top: 20px;
}

#dl-button {
    background: #ff5964;
    color: #fff;
    margin-left: 10px;
}

.section-four {
    background-color: #50514f;
}

.section-four h1 {
    font-size: 7em;
}

.section-four p {
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
}

.section-four img {
    width: 47%;
    border-radius: 5px;
}

.text-content {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.top-pad {
    padding-top: 50px;
}

.icon {
    width: 7%;
    margin-top: 35px;
}
